*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
    background:url("https://images.unsplash.com/photo-1513829596324-4bb2800c5efb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2e3abeff94d9a95db8c3b25e84f3718&auto=format&fit=crop&w=1950&q=80") top center;
    background-size:cover;
    /* background-repeat:repeat; */
    font-family: sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    border:1px solid white;
    text-align:center;
}
.piano-keys{
    position:relative;
}
.piano-keys__keys{
    display:flex;
    justify-content: center;
    align-items:center;
    flex:1;
}
.piano-keys__keys--black{
    background:black;
    color:white;
    width:4rem;
    height:18rem;
    padding-top:15rem;
    transition: all .07s ease;
}
.piano-keys__keys--white{
    background:white;
    padding:19rem 3rem 1rem 3rem;
    width:7rem;
    height:22rem;
    border:1px solid black;
    transition: all .07s ease;
}

.black{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    width:100%;
    position:absolute;
    left:3.7rem;
    z-index: 1;
}
.blank{
    background:none;
}

.playing{
    /* background:rgba(197, 196, 196, 0.9); */
    transform: scale(1.01);
    box-shadow:0 0 1rem #ff3d3dd3;
}